
* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
a:hover {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}
.box {
  box-shadow: 0 0 4px #3b3a3b;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  height: 284px;
  margin-bottom: 25px;
  margin-right: 25px;
  overflow: hidden;
  width: 380px;
}
.box:first-child {
  margin-top: 46px;
}
.box:hover {
  box-shadow: 0 0 6px black;
}
.box .cover {
  margin-left: 0;
  margin-top: -1px;
  width: 100%;
}
.box .bar {
  background: black none repeat scroll 0 0;
  box-shadow: 0 -2px 3px rgba(255, 255, 255, 0.5);
  color: white;
  height: 40px;
  margin-left: -1px;
  margin-top: -40px;
  opacity: 0.8;
}
.box h2 {
  display: inline;
  float: left;
  font-size: 14px;
  line-height: 40px;
  margin-left: 15px;
}
.box i {
  float: right;
  margin-right: 3%;
  margin-top: 9px;
  width: 20px;
}
.box span {
  float: right;
  margin-right: 3%;
  margin-top: 13px;
}

.box h3 {
  display: inline;
  float: left;
  margin-left: 19px;
  margin-top: 10px;
  padding-top: 15px;
}
.box p {
  clear: both;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 10px;
}
.box .avatar {
  display: inline;
  float: right;
  margin-bottom: 10px;
  margin-right: 23px;
  margin-top: 10px;
  width: 50px;
}

@media screen and (max-width: 480px) {
.box {
  height: 186px;
  width: 250px;
}
.box h2 {
  font-size: 13px;
}

.box h3 {
  display: inline;
  float: left;
  margin-left: 19px;
  margin-top: 10px;
  padding-top: 15px;
  font-size:20px;
}
.box p {
  clear: both;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 10px;
}
.box .avatar {
  display: inline;
  float: right;
  margin-bottom: 10px;
  margin-right: 23px;
  margin-top: 17px;
  width: 30px;
}

}
